@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primery-color: rgb(17, 86, 102);
    --primery-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: none;
    padding: none;
    background: var(--primery-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.conteiner {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: rgb(255, 69, 69);
}